doctype html
html
  head
    title Debbie's Library
    link(rel='stylesheet', href='/stylesheets/style.css')
  h1 Debbie's Library
  nav
    ul
      li
        a(href='/') Home
      li
        a(href='/books') Books
      li
        a(href='/patrons') Patrons
      li
        a(href='/loans') Loans
  body
    block content
